body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #007bff;*/
    /*background-image: url('../images/cover-image.jpg');*/
    color: #fff;
}
section {
    /*background-color: #007bff;*/
    background: linear-gradient(to right, lightblue 40%, blue 100%);
}

header {
    #color: #000;
    background-color: #000;
    #padding: 100px 0;
    #background-image: url('cover-image.jpg');
    #background-size: cover;
    #background-repeat: no-repeat;
    #background-position: center;
    text-align: center;
    height: 45px;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    padding: 50px 0;
    text-align: center;
}

nav ul li a {
    front-size: 12px;
    font-weight: 400;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: blue;
}
nav ul li:hover { 
    background-color: #fff;
    height: 45px;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
    padding: 5px 0;
    position: relative;
    
}

h1 {
    margin-top: 0;
}

.translate-btn, .signup-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

.translate-btn:hover, .signup-btn:hover {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
