<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>

<body>
    <h1>Language shouldn't be a barrier <br>
    <h2><em>Connect with a friend today!</em> <a href="/translate">Click on this</a></h2>
    <div class='signup'>
      <div> welcome Back! </div>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <input type="submit" value="Login">
        </form>
        <p>Forget password?<br>
             <a href="/signup">Don't have an account?</a>
        </p>
        
    </div>
</body>

</html>
