<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>

<body>
    <h1>Language shouldn't be a barrier <br>
    <h2><em>Connect with a friend today!</em> <a href="/translate">Click on this</a></h2>
    <div class='signup'>
    <hr>
    <pre>
        Quick sign up!

    <mark>Sign up with Google</mark>

     or use your email address
  </pre>
    <div>
        <form>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            Use at least one letter, one numeral, and seven letters<br>
            <br>
            <label for="country">Country:</label>
              <select id="target_language" name="target_language" required>
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="yo">Yoruba</option>
                <option value="ig">Igbo</option>
                <option value="ha">Hausa</option>
            </select>
            <input type="text" id="country" name="country">
            <input type="submit" value="Sign up">
        </form>
    </div>
     <p class="login"><a href="/login">Have an account already?</a></p>
    </div>
</body>

</html>

