!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="static/translate.css">
</head>
<body>
    <h1>Language Translator</h1>
   <div>
    <form class="form" action="/translator" method="post">
       <div> 
            <label for="input-text">Input Text:</label>
            <textarea id="input-text" name="input-text" rows="4" cols="50" placeholder="Enter text">{{ input_text }}</textarea>
        </div>

        <div>
            <label for="target_language">Target Language:</label>
            <select id="target_language" name="target_language" required>
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="yo">Yoruba</option>
                <option value="ig">Igbo</option>
                <option value="ha">Hausa</option> 
            </select>
        </div>

        <div>
            <label for="translation">Translated Text:</label>
            <textarea id="translation" rows="4" cols="50" placeholder="Translated text will appear here" readonly>{{ translation }}</textarea>
        </div>

        <button type="submit">Translate</button>
    </form>
    </div>
</body>
</html>
